html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}


.hidden,
[hidden] {
  display: none !important;
}

/* Paper styles */
html,
body {
  height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  width: 100%;
  height: 100%;
}

/* Jackson styles */

html, body {
  /* allow swiping on mobile */
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: #2c542b;
  background-image:url('green_forest.jpg');
  background-size:cover;
}

html {
  font-family: 'Work Sans', sans-serif;
  color:#f5eeee;
}

article {
  position:absolute;
  bottom:4rem;
  left:8rem;
  max-width:840px;
  font-weight:500;

  /* remember - with no padding, the birds run into the text */
  padding:0.5rem;

  /* unfortunately, looks bad in Chromium due to this bug https://bugs.chromium.org/p/chromium/issues/detail?id=713376 */
  text-shadow: 1px 1px 30px #333;
}

h1 {
  color: #eabd6b;
}

h1, p, div {
  display: inline;
  font-size: 3rem;
  line-height: 3rem;
}

.canvas {
  position:absolute;
  top:0;
  bottom: 250px;
  left:0;
  right:0;
}

a {
  color: inherit;
}

a:hover {
  color: #babcff;
}

@media only screen and (min-width: 55em) and (max-width: 70em) {
  article {
    max-width:640px;
    left:4rem;
  }

  h1, p, div {
    font-size:2.3rem;
    line-height:2.3rem;
  }
}


@media only screen and (max-width: 55em) {
  article {
    left: 4rem;
    top: 4rem;
    right: 3rem;
    bottom: auto; /* reset -- allow birds to fly under */
    max-width:420px;
  }

  h1, p, div {
    font-size:1.5rem;
    line-height:1.5rem;
  }
}